@font-face {
    font-family: SFUFuturaBold;
    src: url(./fonts/SFUFuturaBold.TTF);
}
@font-face {
    font-family: SFUFuturaBoldOblique;
    src: url(./fonts/SFUFuturaBoldOblique.TTF);
}
@font-face {
    font-family: SFUFuturaBook;
    src: url(./fonts/SFUFuturaBook.TTF);
}
@font-face {
    font-family: SFUFuturaBookOblique;
    src: url(./fonts/SFUFuturaBookOblique.TTF);
}
@font-face {
    font-family: SFUFuturaExtraBold;
    src: url(./fonts/SFUFuturaExtraBold.TTF);
}
@font-face {
    font-family: SFUFuturaExtraBoldOblique;
    src: url(./fonts/SFUFuturaExtraBoldOblique.TTF);
}
@font-face {
    font-family: SFUFuturaHeavy;
    src: url(./fonts/SFUFuturaHeavy.TTF);
}
@font-face {
    font-family: SFUFuturaHeavyOblique;
    src: url(./fonts/SFUFuturaHeavyOblique.TTF);
}
@font-face {
    font-family: SFUFuturaLight;
    src: url(./fonts/SFUFuturaLight.TTF);
}
@font-face {
    font-family: SFUFuturaLightOblique;
    src: url(./fonts/SFUFuturaLightOblique.TTF);
}
@font-face {
    font-family: SFUFuturaObliqueTTF;
    src: url(./fonts/SFUFuturaObliqueTTF.TTF);
}
@font-face {
    font-family: SFUFuturaRegular;
    src: url(./fonts/SFUFuturaRegular.TTF);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.linhvuc{
    width: 100%;
    height: auto;
    padding: 50px 0px;
    display: grid;
    place-items: center;
    background-image: url(./images/cover_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.linhvuc .heading{
    font-size: 196%;
    font-weight: 500;
    color: #fff;
    position: relative;
    font-family: SFUFuturaBold;
    
}
.linhvuc .title{
    font-family: SFUFuturaExtraBold;
    font-size: 396%;
    font-weight: 500;
    color: #fff;
    margin: 0;
}
.linhvuc strong{
    font-family: SFUFuturaBook;
    font-size: 100%;
    font-weight: 500;
    color: #fff;
    padding: 20px;
}
